
html {
  background-color: #a8c6fa ;
}
.panel {
  display: flex;
}
h2, h3, h4, h5, h6, p {
  font-family: 'Roboto';
}
a {
  text-decoration: none;
}
a:link, a:active{
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color:  #6a6f85;
}
h5{
  margin-top: 2px;
  margin-bottom: 2px;
}
p {
  margin-top: 2px;
  text-align: justify;
}
/* ---<< SOCIALS TOOLTIP >>--- */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* ---<< DROP DOWN MENU >>--- */
.hamburguer-icon:hover, .hamburguer-icon:focus {
  background-color: #a0a2ad;
  border-radius: 3px;
}
.dropdown {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  overflow: visible;
  z-index: 1;
  margin-top: 100%;
}
.dropdown-content a {
  text-align: center;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: 'Roboto';
}
.dropdown a:hover {
  background-color: #ddd;
}
.show {
  display: block;
}

/* ---<< HEAD MENU >>--- */
#headbox {
  background-color: #a0a2ad;
  padding: 2px 10px 2px 10px;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  position: relative;
}

.shadowy{
  box-shadow: 0px 6px 10px -2px rgba(0,0,0,0.7);
}

#profile-image{
  border-radius: 20px;
  margin-left: 10px;
  width: 60px;
  height: 60px;
}

.logo {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

h1 {
  font-size: 20px;
  font-family: "Roboto";
}

#brand{
  color: #d1dfe6;
  text-shadow: 0px 2px 4px rgba(0,0,0,0.7);
}

#head-buttons {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.head-button {
  font-size: 15px;
  border-style: hidden;
  background-color: #d5d6d9;
  padding: 5px 5px 5px 5px;
  margin-left: 15px;
}

.language-button{
  height: 28px;;
  width: 57px;
  display: flex;
  align-items: center;
  background: url('/images/english.svg') no-repeat center;
  background-size: cover;
}
/* ------<< BODY >>----- */
body{
  margin: 0;
}

#site-back {
  width: auto;
  min-height: 100%;
  overflow: visible;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* ------<< Modal elements >>----- */
.modal-signin{
  position: absolute;
  display: block;
  top: 30%;
  left: 35%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  z-index: 10;
  background-color: white;
  max-width: 30%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid black;
}
.modal-register{
  position: absolute;
  display: block;
  top: 30%;
  left: 35%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  z-index: 10;
  background-color: white;
  max-width: 30%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid black;
}

.modal-signin.active{
  transform: scale(1);
  transition: 200ms ease-in-out;
}
.modal-register.active{
  transform: scale(1);
  transition: 200ms ease-in-out;
}
#signin-title{
  text-align: center;
}
.signin-input{
  margin: 0px 10px 10px -10px;
}
.input-field{
  margin-bottom: 5px;
}

.signin-button{
  font-size: 150%;
  border-style: hidden;
  background-color: #d5d6d9;
  width: 40%;
  padding: 15px 25px 15px 25px;
  margin: 0px 10% 25px 10%;
}
#login-button1{
  display:block;
  margin-left: 30%;
  margin-top: 7%;
}
#register-button1{
  display:block;
  margin-left: 30%;
}
#login-button2{
  display:block;
  margin-left: 30%;
  margin-top: 0%;
}
#alreadyRegistered{
  text-align: center;
}
#register-button2{
  display:block;
  margin-left: 30%;
}
.modal-title{
  text-align: center;
  padding: 10px 15px;
  font-size: 1.25rem;
  font-family: "Roboto";
  font-weight: bold;
}
.modal-buttons{
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: 30%;
  margin-right: 30%;
}
.modal-socials{
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}
.popup-button{
  cursor: pointer;
}
#overlay-signin{
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 2;
  pointer-events: none;
  transition: 200ms ease-in-out;
}
#overlay-signin.active{
  opacity: 1;
  pointer-events: all;
}
#overlay-register{
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 2;
  pointer-events: none;
  transition: 200ms ease-in-out;
}
#overlay-register.active{
  opacity: 1;
  pointer-events: all;
}

.registration{
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 200px;
}
.vertical-box-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 10px auto 10px;
  height: 20px;
}
.delete{
  align-content: center;
  align-self: flex-start;
  padding: 1px 2px 1px 2px;
  font-size: 60%;
  font-weight: bold;
}
.activity{
  border-style: solid;
  border-color: #101012;
  height: auto;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border-radius: 15;
  flex-wrap: wrap;
  justify-content: flex-start;

}
.outer-activity{
  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;

}
.activity-inner-part{
  display: flex;
  width: 100%;
}
.activity-title{
  margin-right: 10%;
}
.activity-top-part{
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.activity-bottom-part{
  align-items: center;
  /*TODO: Fix this margin*/
  margin-left: 5%;
  justify-content: space-between;
  height: 20px;
}

.icon{
  width: 20px;
  height: 20px;
  float: right;
}
.activity-date{
  font-size: 12px;
}
.vertical-box{
  width: 100%;
  height: 100%;
  min-height: 500px;
  padding-bottom: 10px;
  padding-top: 25px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #ffffff;
}
.box {
  width: 100%;
  margin: 0px 10% 25px 10%;
  padding: 20px 10px 20px 10px;
  background-color: #ffffff;
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.box-title {
  font-family: "Roboto";
  font-style: italic;
  color: #606060;
}
.box-text{
  margin-left: 20%;
  margin-right: 20%;
}
iframe{
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 25px;;
}

.body-button{
  font-size: 40px;
  border-style: hidden;
  background-color: #d5d6d9;
  padding: 15px 25px 15px 25px;
  margin: 0px 10% 25px 10%;
  cursor: pointer;
}
/* ------<< Input Form >>----- */
.registration{
  display: block;
  padding: 0;
  text-align: center;
  align-content: center;
}
.form-info-box{
  background-color: white;
  display: block;
  padding: 1px 10% 20px 10%;
  align-content: flex-end;
  width: auto;
  margin-bottom: 0px;

}
.form-terms-box{
  background-color: white;
  height: 30px;
  display: flex;
  padding: 0px 10% 5px 10%;
  width: auto;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}
.form-buttons-box{
  background-color: white;
  min-height: 80px;
  display: flex;
  padding: 5px 5% 5px 5%;
  width: auto;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#terms-conditions{
  text-align: left;
  display: flex;
  align-items: center;
}
#terms-conditions-link{
  border-bottom: 1px dotted black;
}

.form-button{
  background-color: #a0a2ad;
  width: 40%;
  min-height: 50px;
  display: block;
  cursor: pointer;
}
/* ---------------------------- */

/* ------<< Footer >>----- */
#footer-links{
list-style-type: none;
font-family: "Roboto";
font-size: 12px;
}

ul{
margin-top: 0px;
margin-bottom: 0px;
}
footer{
  width: 100%;
  height: 100px;
  background-color: #a8c6fa;
  padding: 2px 2%;
  align-items: center;
  justify-content: space-between;

}
#socials-container{
  margin-left: 10px;
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.socials-link{
  display: flex;
}
.socials{

}
.socials-icon{
  width: 35px;
  height: 35px;
  margin: 5px;
}

#footer-text{
  display: flex;
  align-items: center;
  /* FIXME: Arbitrary Value to center this thing */
  margin-top: 15px;
}
.vertical-line{
  height: auto;
  border-style: solid;
  border-left: 1px;
  border-radius: 1px;
  border-color:  #6a6f85;
  margin-right: 5px;
  margin-left: 5px;
}


/*****************************************/

{box-sizing: border-box;}

/* Style the input container */
.input-container {
  display: flex;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 15px;
  align-items: center;
}

/* Style the form icons */
.form-icon {
  padding: 10px;
  background: #a0a2ad;
  color: white;
  height: 20px;
  min-width: 50px;
  text-align: center;
}

/* Style the input fields */
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  height: 100%;
}

.input-field:focus {
  border: 2px solid #a0a2ad;
}
#cake-icon{
  height: 24px;
}
#globe-icon{
  height: 19px;
}

.btn:hover {
  opacity: 1;
}
