
html {
  background-color: #a8c6fa;
}
.hack-fix{
  background-color: #d1dfe6;
}
.panel {
  display: flex;
}
h2, h3, h4, h5, h6, p {
  font-family: 'Roboto';
}
a {
  text-decoration: none;
}
a:link, a:active{
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color:  #6a6f85;
}
h5{
  margin-top: 2px;
  margin-bottom: 2px;
}
p {
  margin-top: 2px;
  text-align: justify;
}
/* ---<< SOCIALS TOOLTIP >>--- */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* ---<< DROP DOWN MENU >>--- */
.hamburguer-icon:hover, .hamburguer-icon:focus {
  background-color: #a0a2ad;
  border-radius: 3px;
}
.dropdown {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  overflow: visible;
  z-index: 1;
  margin-top: 100%;
}
.dropdown-content a {
  text-align: center;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: 'Roboto';
}
.dropdown a:hover {
  background-color: #ddd;
}
.show {
  display: block;
}

/* ---<< HEAD MENU >>--- */
#headbox {
  background-color: #a0a2ad;
  padding: 2px 10px 2px 10px;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  position: fixed;
  width: 100%;
  top: 0;
}

.shadowy{
  box-shadow: 0px 6px 10px -2px rgba(0,0,0,0.7);
}

#profile-image{
  border-radius: 20px;
  margin-left: 10px;
  width: 60px;
  height: 60px;
}

.logo {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.logo-home{
  width: 27px;
  height: 27px;
  margin-left: 10px;
}

h1 {
  font-size: 20px;
  font-family: "Roboto";
}

#brand{
  color: #d1dfe6;
  text-shadow: 0px 2px 4px rgba(0,0,0,0.7);
}

#head-buttons {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.head-button {
  font-size: 15px;
  border-style: hidden;
  background-color: #d5d6d9;
  padding: 5px 5px 5px 5px;
  margin-left: 15px;
  cursor: pointer;
}

.language-button{
  height: 28px;;
  width: 57px;
  display: flex;
  align-items: center;
  /*TODO: CAMBIAR AL FINAL A /IMAGES/ENGLISH.SVG*/
  background: url('/master/images/english.svg') no-repeat center;
  background-size: cover;
}

.searchBar{
  position: relative;
  top:-8px;
  left: 5px;
  border-radius: 15px;
  border-style: hidden;
}

/* ------<< BODY >>----- */
body{
  margin: 0;
}

#site-back {
  width: auto;
  min-height: 100%;
  height: 100%;
  overflow: visible;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #d1dfe6;
  margin-top: 40px;
}
/* ------<< Modal elements >>----- */
.modal-signin{
  position: absolute;
  display: block;
  top: 30%;
  left: 35%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  z-index: 10;
  background-color: white;
  max-width: 30%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid black;
}
.modal-register{
  position: absolute;
  display: block;
  top: 30%;
  left: 35%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  z-index: 10;
  background-color: white;
  max-width: 30%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid black;
}

.modal-signin.active{
  transform: scale(1);
  transition: 200ms ease-in-out;
}
.modal-register.active{
  transform: scale(1);
  transition: 200ms ease-in-out;
}
#signin-title{
  text-align: center;
}
.signin-input{
  margin: 0px 10px 10px -10px;
}
.input-field{
  margin-bottom: 5px;
}

.signin-button{
  font-size: 150%;
  border-style: hidden;
  background-color: #d5d6d9;
  width: 40%;
  padding: 15px 25px 15px 25px;
  margin: 0px 10% 25px 10%;
}
#login-button1{
  display:block;
  margin-left: 30%;
  margin-top: 7%;
}
#register-button1{
  display:block;
  margin-left: 30%;
}
#login-button2{
  display:block;
  margin-left: 30%;
  margin-top: 0%;
}
#alreadyRegistered{
  text-align: center;
}
#register-button2{
  display:block;
  margin-left: 30%;
}

.modal-socials{
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}
.popup-button{
  cursor: pointer;
}

#overlay-signin{
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 2;
  pointer-events: none;
  transition: 200ms ease-in-out;
}
#overlay-signin.active{
  opacity: 1;
  pointer-events: all;
}
#overlay-register{
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 2;
  pointer-events: none;
  transition: 200ms ease-in-out;
}
#overlay-register.active{
  opacity: 1;
  pointer-events: all;
}

.registration{
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 200px;
}
.vertical-box-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 10px auto 10px;
  height: 20px;
}
.delete{
  align-content: center;
  align-self: flex-start;
  padding: 1px 2px 1px 2px;
  font-size: 60%;
  font-weight: bold;
}
.activity{
  border-style: solid;
  border-color: #101012;
  height: auto;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border-radius: 15;
  flex-wrap: wrap;
  justify-content: flex-start;

}
.outer-activity{
  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;

}
.activity-inner-part{
  display: flex;
  width: 100%;
}
.activity-title{
  margin-right: 10%;
}
.activity-top-part{
  justify-content: space-between;
  align-items: center;
}
.activity-middle-part{
  align-items: center;
  /*TODO: Fix this margin*/
  margin: 0px auto 5px auto;
  display: flex;
  justify-content: space-around;
  height: 20px;
}
.activity-bottom-part{
  align-items: center;
  /*TODO: Fix this margin*/
  margin-left: 5%;
  justify-content: space-between;
  height: 20px;
}

.icon{
  width: 20px;
  height: 20px;
  float: right;
}
.activity-date{
  font-size: 12px;
}
.vertical-box{
  width: 100%;
  height: 100%;
  min-height: 500px;
  padding-top: 25px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #ffffff;
}
.dashboard-back{
  width: 100%;
  height: 100%;
  min-height: 680px;
  padding-top: 25px;
  display: flex;
  flex-wrap: wrap;
  background-color: #d1dfe6;
}
.box {
  width: 100%;
  margin: 25px 10% 25px 10%;
  padding: 20px 10px 20px 10px;
  background-color: #ffffff;
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.box-title {
  font-family: "Roboto";
  font-style: italic;
  color: #606060;
}
.box-text{
  margin-left: 20%;
  margin-right: 20%;
}
iframe{
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 25px;
}

.body-button{
  font-size: 40px;
  border-style: hidden;
  background-color: #d1dfe6;
  padding: 15px 25px 15px 25px;
  margin: 10px 10% 25px 10%;
  cursor: pointer;
}

/* ------<< Dashboard >>----- */

.panels-box{
  border-top: 1px solid grey;
  height: 250px;
  width: auto;
  padding-left: 3%;
  padding-bottom: 5px;
  overflow: auto;
}

.calendar-box{
  width: 100%;
  height: 100%;
  min-height: 250px;
  max-width: 400px;
  background-color: #ffffff;
}

.deadlines-title{
  margin-left: 15%;
  margin-top: 1%;
  margin-bottom: 2%;
}

.deadlines-box{
  border: 1px solid grey;
  height: 550px;
  width: 400px;
  background-color: #ffffff;
  overflow: auto;
}

.big-box{
  width: 100%;
  height: 100%;
  min-height: 590px;
  max-width: 400px;
  margin-top: 1%;
  margin-left: 15%;
}

.add-button{
  border-radius: 7px;
  border: 1px solid black;
  text-align: center;
  height: 100px;
  width: 150px;
  margin-left: 5%;
  margin-top: 5%;
  font-size: 20px;
}

.panel-button{
  border-radius: 7px;
  border: 1px solid black;
  text-align: center;
  height: 100px;
  width: 150px;
  font-size: 16px;
  margin-left: 5%;
  margin-top: 5%;
}

.deadline{
  border-bottom: 1px solid grey;
  width: auto;
  min-height: 95px;
  margin-top: 5%;
  padding-left: 5%;
  style: inline-block;
}

.details{
  max-width: 200px;
}

.deadline-button{
  border: 1px solid black;
  height: 50px;
  width: 75px;
  border-radius: 5px;
  margin-left: 10%;
}

.caja{
  height: auto;
  width: 100px;
  style: inline;
  float: left;
  padding-top: 3%;
}

.no-caja{
  height: auto;
  width: 200px;
  float: right;
  padding-top: 2%;
}

/* ------<< Input Form >>----- */
.registration{
  display: block;
  padding: 0;
  text-align: center;
  align-content: center;

}
.form-info-box{
  background-color: white;
  display: block;
  padding: 1px 10% 20px 10%;
  align-content: flex-end;
  width: auto;
  margin-bottom: 0px;

}
.form-terms-box{
  background-color: white;
  height: 30px;
  display: flex;
  padding: 0px 10% 5px 10%;
  width: auto;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}
.form-buttons-box{
  background-color: white;
  min-height: 80px;
  display: block;
  padding: 5px 10% 5px 10%;
  width: auto;
}
#terms-conditions{
  text-align: left;
  display: flex;
  align-items: center;
}
#terms-conditions-link{
  border-bottom: 1px dotted black;
}

.form-button{
  background-color: #a0a2ad;
  width: 40%;
  min-height: 50px;
  display: block;
  cursor: pointer;
  margin: 5% auto 5% auto;
}
/* ---------------------------- */

/* ------<< Footer >>----- */
#footer-links{
  list-style-type: none;
  font-family: "Roboto";
  font-size: 12px;
}

ul{
  margin-top: 0px;
  margin-bottom: 0px;
}
footer{
  width: 100%;
  height: 100px;
  padding: 2px 2%;
  align-items: center;
  justify-content: space-between;
}
#socials-container{
  margin-left: 10px;
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.socials-link{
  display: flex;
}

.socials-icon{
  width: 35px;
  height: 35px;
  margin: 5px;
}

#footer-text{
  display: flex;
  align-items: center;
  /* FIXME: Arbitrary Value to center this thing */
  margin-top: 15px;
}
.vertical-line{
  height: auto;
  border-style: solid;
  border-left: 1px;
  border-radius: 1px;
  border-color:  #6a6f85;
  margin-right: 5px;
  margin-left: 5px;
}


/*****************************************/

{box-sizing: border-box;}

/* Style the input container */
.input-container {
  display: flex;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 15px;
  align-content: center;

}

/* Style the form icons */
.form-icon {
  padding: 10px;
  background: #a0a2ad;
  color: white;
  height: auto;
  min-width: 50px;
  text-align: center;
}

/* Style the input fields */
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  height: 100%;
  margin: 0;
}

.input-field:focus {
  border: 2px solid #a0a2ad;
}
#cake-icon{
  height: 24px;
}
#globe-icon{
  height: 19px;
}

.btn:hover {
  opacity: 1;
}

/* ------ CALENDAR THINGIES ------- */
* {box-sizing: border-box;}
ul {list-style-type: none;}

.month {
  padding: 15px 15px;
  width: 100%;
  background: #e6e6e6;
  text-align: center;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: white;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.weekdays li {
  display: inline-block;
  width: 13%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: white;
  margin: 0;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13%;
  text-align: center;
  margin-bottom: 6px;
  font-size:12px;
  color: black;
}

.days li .active {
  padding: 5px;
  background: grey;
  color: white !important
}

/*<------------ COSAS DEL PANEL ------------>*/

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal.active{
  transform: translate(-50%, -50%) scale(1);
  transition: 200ms ease-in-out;
}
.modal-title{
  text-align: center;
  padding: 10px 15px;
  font-size: 1.25rem;
  font-family: "Roboto";
  font-weight: bold;

}
.modal-buttons{
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: 30%;
  margin-right: 30%;

}
.modal-socials{
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}
.vertical-box-2{
  width: 33%;
  display: block;
  background-color: #d5d6d9;
  padding-bottom: 10px;
  height: 100%;
  margin-top: 25px;
}

.vertical-box-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 10px auto 10px;
  height: 20px;
}
.activity{
  border-style: solid;
  border-color: #101012;
  height: auto;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border-radius: 15;
  flex-wrap: wrap;
  justify-content: flex-start;

}
.outer-activity{
  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;

}
.activity-inner-part{
  display: flex;
  width: 100%;
}
.activity-title{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
}
.activity-top-part{
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.activity-bottom-part{
  align-items: center;
  margin-left: 5%;
  justify-content: space-between;
  height: 20px;
}
.icon{
  width: 20px;
  height: 20px;
  float: right;
}
.activity-date{
  font-size: 12px;
}
.section-title {
  margin-bottom: 0px;
  margin-top: 20px;
  text-decoration-line: underline;
}
.section-box {
  list-style-type: none;
  margin-left: 10px;
  margin-top: 10px;
  font-family: 'Roboto';
  padding: 4px 10px 1px 10px;
  background-color: #70758c;
  border-radius: 12px;
}

.second-header{
  margin-left: 5%;
  margin-top: 3%;
  style: inline;
  width: 100%;
  height: auto;
}

.second-header-title{
  width: 300px;
  color: grey;
  border-bottom: 3px solid grey;
}

.panel-box{
  max-height: auto;
  min-width: 1350px;
  margin-left: 5%;
  margin-top: 1%;
  margin-right: 7%;
  margin-bottom: 1%;
  padding-left: 2%;
  padding-top: 1%;
  overflow-x: scroll;
}

.category{
  width: 225px;
  height: auto;
  margin-right: 7%;
  margin-bottom: 5%;
  border: 2px solid grey;
  border-radius: 5px;
  background-color: #ffffff;
  float: left;
}

.category-title{
  color: grey;
  margin-left: 40px;
  margin-top: 15px;
}

.edit{
  float:right;
}

.task-box{
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 5%;
  padding: 5px;
  border: 1px solid black;
  border-bottom: 2px solid black;
  border-radius: 3px;
  background-color: #ffffff;
  text-align: center;
}

.task-things{
  text-align: center;
  align:center;
}

.edit-button{
  color: grey;

  border-style: hidden;
  background-color: #ffffff;
}

.task-add{
  width: 90%;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  font-size: 20px;
  background-color: #ffffff;
}

.tas{
  font-size: 18px;
}

.task-edit{
  border-style:hidden;
  background-color: #ffffff;
  width: 40px;
}

.category-add{
  width: 225px;
  height: 200px;
  margin-right: 7%;
  margin-bottom: 5%;
  float: left;
  background-color: #ffffff;
  font-size: 128px;
}

.task-info-title{
  text-align: center;
}

.task-info-xd{
  margin-left: 5%;
}

.task-information{
  margin-left: 40%;
}

/* ---<< HAMBURGUER DROP DOWN MENU >>--- */
.hamburguer-icon:hover, .hamburguer-icon:focus {
  background-color: #a0a2ad;
  border-radius: 3px;
}
.dropdown {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  overflow: visible;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 100%;
}
.dropdown-content a {
  text-align: center;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: 'Roboto';
}
.dropdown a:hover {
  background-color: #ddd;
}
.show {
  display: block;
}
#overlay{
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 2;
  pointer-events: none;
  transition: 200ms ease-in-out;
}
#overlay.active{
  opacity: 1;
  pointer-events: all;
}

/* rating system form */